.App {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: var(--rato);
  color: white;
  font-size: large;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  padding: 12px 4px;
}

.descr {
  font-size: small;
  color: rgb(126, 125, 125);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#main-section {
  color: var(--kalo);
  font-weight: 400;
  font-size: large;
  text-align: center;
}

p {
  text-align: center;
  font-size: medium;
  padding: 0.5rem;
}

ul,
ol {
  text-align: left;
  text-decoration: none;
  padding: 1rem;
}

li {
  text-decoration: none;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(83, 83, 83);
}

.title {
  background-color: var(--gulabi);
  border-radius: 10px;
  padding: 5px 5px;
  color: black;
  text-align: left;
}

.title:hover {
  transform: scale(1.02);
  background-color: var(--rato);
  color: white;
}